@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular [400] */
@font-face {
  font-family: "FC Iconic";
  font-weight: 400;
  src: local("FC Iconic"),
    url("../../assets/css/font/FC Iconic/FC Iconic Regular.ttf")
      format("truetype");
}

/* Bold [700] */
@font-face {
  font-family: "FC Iconic";
  font-weight: 700;
  src: local("FC Iconic"),
    url("../../assets/css/font/FC Iconic/FC Iconic Bold.ttf") format("truetype");
}

/* Fraunces */

/* Bold [700] */
@font-face {
  font-family: "Fraunces";
  font-weight: 700;
  src: local("Fraunces"),
    url("../../assets/css/font/Fraunces/Fraunces-Bold.ttf") format("truetype");
}

body {
  font-family: "FC Iconic", sans-serif;
}

.font-fraunces {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}
